## List
- List is a collection of different kinds of values or items
- List is a mutable datatype - we can modify the values
- The list are in order
- The list is defined by [] and comma
- Lists accepts duplicates values

In [74]:
int_lis=[1,2,3,4,7]
print(int_lis)
print(type(int_lis))

[1, 2, 3, 4, 7]
<class 'list'>

In [75]:
float_lis=[3.4,5.6,8.9]
print(float_lis)
print(type(float_lis))

[3.4, 5.6, 8.9]
<class 'list'>

In [76]:
str_lis=["Radar","maps","Globe"]
print(str_lis)
print(type(str_lis))

['Radar', 'maps', 'Globe']
<class 'list'>

In [77]:
mixed_lis=[45,89,9.0,"Radar","R"]
print(mixed_lis)
print(type(mixed_lis))

[45, 89, 9.0, 'Radar', 'R']
<class 'list'>

### Accessing the lists
- By using index and slicing we can access the values
- slicing [start:end] the end values will be n-1

In [78]:
li0=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
li0[:15]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [79]:
li0[0:15]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [80]:
li0[-15:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [81]:
li0[-15:-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [82]:
li0[2]=89
print(li0)

[1, 2, 89, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [83]:
li0[5]=99
print(li0)

[1, 2, 89, 4, 5, 99, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [84]:
li0[13]=100
print(li0)

[1, 2, 89, 4, 5, 99, 7, 8, 9, 10, 11, 12, 13, 100, 15]

In [85]:
li0[10:14]=2,3,4,5
print(li0)

[1, 2, 89, 4, 5, 99, 7, 8, 9, 10, 2, 3, 4, 5, 15]

In [86]:
li=[3,56,8.9,"map"]
print(li[0])
print(li[3])
print(li[0:2])

3
map
[3, 56]

In [87]:
li1=['a','b','c','d','e',67,89,91]
print(li1[2:5])

['c', 'd', 'e']

In [88]:
li2=['python','java','html','javascript']
print(li2[0:3])

['python', 'java', 'html']

In [89]:
#Updation
li2[2]="css"
print(li2)

['python', 'java', 'css', 'javascript']

In [90]:
## Adding two lists

li11=[1,3,5,6,7]
li12=[8,9,10,11,12]
print(li11+li12)

[1, 3, 5, 6, 7, 8, 9, 10, 11, 12]

In [91]:
## concatenation

print(li11*2)

[1, 3, 5, 6, 7, 1, 3, 5, 6, 7]

In [92]:
## length it will give length of lis
print(len(li0))
print()

15

### Append - It is a function it will add numbers at end of list

In [93]:
print("Initial list:",li0)
li0.append(99)
print("Updated list:",li0)

Initial list: [1, 2, 89, 4, 5, 99, 7, 8, 9, 10, 2, 3, 4, 5, 15]
Updated list: [1, 2, 89, 4, 5, 99, 7, 8, 9, 10, 2, 3, 4, 5, 15, 99]

### Extend - By using this function we can add multiples values to list

In [94]:
print("Initial list:",li0)
li23=[34,56,78,89]
li0.extend(li23)
print("Updated list:",li0)

Initial list: [1, 2, 89, 4, 5, 99, 7, 8, 9, 10, 2, 3, 4, 5, 15, 99]
Updated list: [1, 2, 89, 4, 5, 99, 7, 8, 9, 10, 2, 3, 4, 5, 15, 99, 34, 56, 78, 89]

### Insert - By using this function we can add values at specificy position in a list

In [95]:
print("Initial list:",li0)
li0.insert(4,999)
print("Updated list:",li0)

Initial list: [1, 2, 89, 4, 5, 99, 7, 8, 9, 10, 2, 3, 4, 5, 15, 99, 34, 56, 78, 89]
Updated list: [1, 2, 89, 4, 999, 5, 99, 7, 8, 9, 10, 2, 3, 4, 5, 15, 99, 34, 56, 78, 89]

### Remove- By using this function we can remove values of first occurences

In [96]:
print("Initial list:",li0)
print("Initial list length:",len(li0))
li0.remove(99)
print("Updated list:",li0)
print("Updated list length:",len(li0))

Initial list: [1, 2, 89, 4, 999, 5, 99, 7, 8, 9, 10, 2, 3, 4, 5, 15, 99, 34, 56, 78, 89]
Initial list length: 21
Updated list: [1, 2, 89, 4, 999, 5, 7, 8, 9, 10, 2, 3, 4, 5, 15, 99, 34, 56, 78, 89]
Updated list length: 20

### Pop- By using this function we can remove the values at specificy position

In [97]:
print("Initial list:",li0)
print("Initial list length:",len(li0))
li0.pop(4)
print("Updated list:",li0)
print("Updated list length:",len(li0))

Initial list: [1, 2, 89, 4, 999, 5, 7, 8, 9, 10, 2, 3, 4, 5, 15, 99, 34, 56, 78, 89]
Initial list length: 20
Updated list: [1, 2, 89, 4, 5, 7, 8, 9, 10, 2, 3, 4, 5, 15, 99, 34, 56, 78, 89]
Updated list length: 19

### Count- it will count the number of values in a list

### Sort- It will sort the values in ascending order

### Reverse-It will reverse the values in a list

In [98]:
c=li0.count(5)
print("Count of a list:",c)

Count of a list: 2

In [99]:
## Sort of a list
li0.sort()
print(li0)

[1, 2, 2, 3, 4, 4, 5, 5, 7, 8, 9, 10, 15, 34, 56, 78, 89, 89, 99]

In [100]:
## REverse of a list

li0.reverse()
print(li0)

[99, 89, 89, 78, 56, 34, 15, 10, 9, 8, 7, 5, 5, 4, 4, 3, 2, 2, 1]

### Membership

In [101]:
new=[1,2,67,8.9,"dhoni7"]
new_b=[1,2,6,8,"watson"]
print(new in new_b)

False

In [102]:
print(new == new_b)

False

In [103]:
new_a=[1,2,3,4,5,67]
new_c=[1,2,3,4,5,67]
print(3 in new_a)

True

In [104]:
print(new_a == new_c)

True

### Iteration - the loop is used to iterate over the list elements

In [105]:
for i in li0:
    print(i)

99
89
89
78
56
34
15
10
9
8
7
5
5
4
4
3
2
2
1

In [106]:
for i in li0:
    print(i>5)

True
True
True
True
True
True
True
True
True
True
True
False
False
False
False
False
False
False
False

In [113]:
# reverse the list
li25=[1,3,5,8,9,56,45]
li25.sort(reverse=True)
print(li25)

[56, 45, 9, 8, 5, 3, 1]

In [114]:

c=li25.clear()
print(c)

None

### Python inbuilt functions like sum,max,min,avg

In [116]:
print("Sum of list:",sum(li0))

Sum of list 520

In [117]:
print("Max of list:",max(li0))
print("Min of list:",min(li0))

Max of list: 99
Min of list: 1

In [118]:
mylist=['dhoni','watson','bravo']
new_list=mylist.copy()
print(new_list)

['dhoni', 'watson', 'bravo']