### Loops - Loops will execute until the condition is met

### While loop- While loop is used to run a block of code until a certain rules is met.
- If the condition evalutes to True, the code inside the while loop is executed.
- First we have to intialze the variable

In [5]:
num=2
while num<=10:
    print(num)
    num=num+2
    
# so, after condition if we use print statement it will run the block met conditions

2
4
6
8
10

In [6]:
num=10
while num<=60:
    num+=10
    print(num)
    
    # so, here we not used print statement after condition so, the results are override the condition

20
30
40
50
60
70

###  For loop
- The for loop is used for iterating over a sequence of items like list,tuple,string and dictionary.
- The loop continues until we reach last item in sequence.

In [7]:
# list

a=['num',45,6.7,"hello"]
for i in a:
    print(i)

num
45
6.7
hello

In [8]:
#strings
py="Python is a language"
for i in py:
    print(i)

P
y
t
h
o
n

i
s

a

l
a
n
g
u
a
g
e

In [9]:
#tuple
tup=(23,45,67,"python")
for i in tup:
    print(i)

23
45
67
python

In [16]:
#dictionary

dic={"fruits":"Apple","Rate":100,"place":"Jammu"}

for key,values in dic.items():
    print(key,values)
    
for j in dic:
    print(j,dic[j])

fruits Apple
Rate 100
place Jammu
fruits Apple
Rate 100
place Jammu

### 1.write a python program to check given year is leap year or not by using loop

In [23]:
year=[1990,400,2000,2003,2010,2024,2025]

for i in year:
    if i%400==0:
        print(i,"Leap Year")
    elif i%4==0:
        print(i,"Leap Year")
    elif i%100==0:
        print(i,"Non Leap Year")
    else:
        print(i,"Non Leap YEar")

1990 Non Leap YEar
400 Leap Year
2000 Leap Year
2003 Non Leap YEar
2010 Non Leap YEar
2024 Leap Year
2025 Non Leap YEar

### 2.Write a python program to find a given number even or odd

In [24]:
num=[1,2,3,4,5,6]

for i in num:
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even

### 3.Write a python program to check if a list is empty or not

In [30]:
lis =[]

for i in lis:
    if not  lis:
        print("yes")
    else:
        print("Empty list")
        
        # yes it is possible but it complex

### 4.Write a python program to calculate grade of a student

In [31]:
marks=[78,93,99,34,66,83]

for i in marks:
    if i>90:
        print(i,"Grade A")
    elif i> 80 and i<=90:
        print(i,"Grade B")
    elif i>70 and i<=80:
        print(i,"Grade C")
    elif i>60 and i<=70:
        print(i,"Grade D")
    elif i>50 and i<=60:
        print(i,"Grade E")
    else:
        print(i,"Fail")

78 Grade C
93 Grade A
99 Grade A
34 Fail
66 Grade D
83 Grade B

### 5.Write a python code to check whether given word is a palindrome or not

In [32]:
string=["mam","yes","dad","mom","sun"]

for i in string:
    i=i.replace(" "," ").lower()
    
    if i == i[::-1]:
        print(i,"Palidrome")
    else:
        print(i,"Not Palidrome")

mam Palidrome
yes Not Palidrome
dad Palidrome
mom Palidrome
sun Not Palidrome

### 6.Write a python code to find the smallest among the three numbers

In [35]:
lis=[23,45,67]

num=lis[0]

for i in lis:
    if i < num:
        print(i,"Smallest number")

In [38]:
lis=[23,67,45]
# Assume the first number is the smallest
small = lis[0]

for i in lis:
    if i < small:
        small = i

# Print the smallest number
print(small,"Smallest Number")

23 Smallest Number

### 7. Write a python code to find the second largest number in a list

In [41]:
list2=[1,23,45,67,2]

for i in list2:

    print(i)

1
23
45
67
2

### 8.Calculate BMI and categorize it
- under weight , over weight , normal weight

In [43]:
weight=[56,78,90,45,67]
height=[1.65,1.55,1.75,1.22,1.35]

for i in weight:
    
    
    for j in height:
        
        BMI=i/(j**2)
print(BMI)

36.76268861454046

In [47]:
weight = [56, 78, 90, 45, 67]
height = [1.65, 1.55, 1.75, 1.22, 1.35]

if len(weight) != len(height):
    print("Error")
else:
    for i in range(len(weight)):
        BMI = weight[i] / (height[i] ** 2)  # Calculate BMI for each corresponding weight and height

        if BMI<18.5:
            print(BMI,"Under Weight")
        elif BMI>18.5 and BMI<24.9:
            print(BMI,"Normal Weight")
        elif BMI>25 and BMI<29.9:
            print(BMI,"Over Weight")
        else:
            print(BMI,"Obesity")

20.569329660238754 Normal Weight
32.46618106139438 Obesity
29.387755102040817 Over Weight
30.233808116097823 Obesity
36.76268861454046 Obesity

### 9.Write a python code to check vote eligiblity

In [48]:
age=[23,15,67,35,50,12,8]

for i in age:
    if i>=18:
        print(i,"Right to vote")
    else:
        print(i,"No right to vote")

23 Right to vote
15 No right to vote
67 Right to vote
35 Right to vote
50 Right to vote
12 No right to vote
8 No right to vote

### 10.Write a python code to find the person which type of group

In [49]:
age=[34,45,67,12,23,45]

for i in age:
    if i<22 and i>6:
        print(i,"School Group")
    elif i>22 and i<=50:
        print(i,"Work Group")
    elif i>50:
        print(i,"Retirement")
    else:
        print(i,"Childhood")

34 Work Group
45 Work Group
67 Retirement
12 School Group
23 Work Group
45 Work Group