### Tuple is used to store multiple values in a single variable

- Tuple is a Immutable - we cannot modify values or elements

- Tuple - In tuple the values are in ordered

- Each element in a tuple has a specifc order that will never change because tuples are ordered.
- Tuple is defined by ()

- Tuple has duplicate values

In [1]:
int_tup=(1,2,3,4)
print(int_tup)
print(type(int_tup))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
float_tup=(2.3,4.5,5.6)
print(float_tup)
print(type(float_tup))

(2.3, 4.5, 5.6)
<class 'tuple'>

In [3]:
strin_tup=("map","a","b")
print(strin_tup)
print(type(strin_tup))

('map', 'a', 'b')
<class 'tuple'>

In [4]:
mixed_tup=(1,"map",4.5)
print(mixed_tup)

(1, 'map', 4.5)

In [1]:
tup=(1,45,67,90)
print(tup)
tup[1]=50
print(tup)

(1, 45, 67, 90)

TypeError: 'tuple' object does not support item assignment

In [2]:
tup1=(23,45,67,89)
tup2=(99,234,5,7)
print(tup1+tup2)

(23, 45, 67, 89, 99, 234, 5, 7)

In [3]:
print(tup1*2)

(23, 45, 67, 89, 23, 45, 67, 89)

In [4]:
print(tup1[2])

67

In [6]:
tup3=(1,2,3,4,5,6,7,8,9,10,12,13,14,15,4)
print(tup3[2:6])
print(tup3[-8:-2])

(3, 4, 5, 6)
(7, 8, 9, 10, 12, 13)

In [9]:
tup4=(1,2,2,3,2,2)
print(tup4.count(2))

4

In [11]:
tup5=(1,2,3,4,5,6,7,8)
print(tup5.index(2))

1

### Set - set is a collection of unique elements
- set is a defined by {}

- set is a IMmutable - we cannot modify elements

- set is a unordered

In [14]:
set1={1,2,3,4,5,6,7}
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [18]:
# we cannot access the set but by using convert into list we can access

print(set1[0])

TypeError: 'set' object is not subscriptable

In [17]:
print(list(set1)[0])

1

In [20]:
print(list(set1)[2:5])

[3, 4, 5]

## Frozensets are tuple, set

In [21]:
for i in set1:
    print(i)

1
2
3
4
5
6
7

In [25]:
# Add new items into sets

set2={1,2,3,"Apple"}
set2.add("Cherry")
print(set2)

{1, 2, 3, 'Cherry', 'Apple'}

In [27]:
# remove
set2.remove(1)
print(set2)

{2, 3, 'Cherry', 'Apple'}

In [28]:
# discard
set2.discard(3)
print(set2)

{2, 'Cherry', 'Apple'}

In [29]:
# update

set3={"Valut",3,6,"BOx"}
set2.update(set3)
print(set2)

{2, 3, 'Valut', 6, 'BOx', 'Cherry', 'Apple'}

In [33]:
# Union
set4={1,2,3,4,5,6}
set5={6,7,4,8,9,2,1}
print(set4 | set5)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
print(set4.union(set5))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
# Intersection
print(set4 & set5)

{1, 2, 4, 6}

In [36]:
print(set4.intersection(set5))

{1, 2, 4, 6}

In [37]:
# difference

# set4-set5

print(set4-set5)
print(set5-set4)

{3, 5}
{8, 9, 7}

In [38]:
print(set4.difference(set5))

{3, 5}

In [40]:
# symmetric difference
print(set4 ^ set5)

print(set5 ^ set4)

{3, 5, 7, 8, 9}
{3, 5, 7, 8, 9}

In [43]:
set6=set5.copy()
set6

{1, 2, 4, 6, 7, 8, 9}

In [48]:
set7={1,2,3,4,5,6,7,8,9}
set8={2,6,9,10,11}

print(set7 &= set8

SyntaxError: invalid syntax (1409138916.py, line 4)